<div>
<table cellpadding="0" cellspacing="0" border="0" valign="top">
    <tr><td><img src="../../images/fuji-logo.jpg" width="179" height="68" border="0" alt="Project Fuji"></td></tr>
</table>
 
<table cellpadding="0" cellspacing="10" border="0" align="center" valign="top">
    <tr><td><h1><b>General Information</b></h1></td></tr>
    <tr><td><h3>Our Mission</h3></td></tr>
 
    <tr><td><font size="2">Provide a lightweight, OSGI based runtime for integration that can be run on multiple containers. Provide simple tooling that makes it easy to create composite applications quickly
 
</font></td></tr>
 
<tr><td><h3>Details of the Project</h3></td></tr>
    <tr><td>
<font size="2">Get the details of Fuji project on the wiki <a href="http://wiki.open-esb.java.net/Wiki.jsp?page=ProjectFuji">here</a>.</font>

</td></tr>
<tr><td><h3>Announcements</h3></td></tr>
    <tr><td>
<font size="2">A listing of new and recent announcements concerning the Fuji project can be found <a href="https://fuji.dev.java.net/servlets/ProjectNewsList">here</a>.</font>
</td></tr>
 
<tr><td><h3>Governance and Licensing</h3></td></tr>
<tr><td>
<font size="2">
<ul>

<li><font size="2">The Fuji Governance is available <a href="governance/index.html">here</a>.</font></li>

<li><font size="2">The Fuji project falls under the Common Development and Distribution License (CDDL).  Information about this license can be found at <a href="http://www.sun.com/cddl/">http://www.sun.com/cddl/</a> and <a href="http://www.opensource.org/licenses/cddl1.php">http://www.opensource.org/licenses/cddl1.php</a>.</font></li>

</ul>
</font>
</td></tr>
 
<tr><td><h3>FAQ Center</h3></td></tr>
<tr><td><font size="2">The FAQ Center can be found <a href="https://fuji.dev.java.net/public/about/faqcenter/index.html">here</a>.
 
</font></td></tr>

    <tr><td><h3>Architecture Announcements</h3></td></tr>
 
    <tr><td><font size="2">A listing of all Fuji project announcements can be found <a href="https://fuji.dev.java.net/servlets/ProjectNewsList">here</a>. The announcements contain links to system documents (including architecture and use cases).
 
</font></td></tr>
 
<tr><td><h3>Community Blogs and Press</h3></td></tr>
<tr><td><font size="2">Links to community member blogs and articles can be found <a href="articles/index.html">here</a>.</font>
</td></tr>
     
    <tr><td><h3>Membership</h3></td></tr>
    <tr><td>
<font size="2">A list of registered members can be found <a href="https://fuji.dev.java.net/servlets/ProjectMemberList">here</a>.</font>
</td></tr>
 
<tr><td><h3>Mailing Lists</h3></td></tr>
    <tr><td>
<font size="2">A listing of email aliases can be found <a href="https://fuji.dev.java.net/servlets/ProjectMailingListList">here</a>.</font>
 
</td></tr></table>
 
</p>
 
<!-- content boundary -->
</div>
