<div>
<table cellpadding="0" cellspacing="0" border="0" valign="top">
    <tr><td><img src="../../../images/fuji-logo.gif" width="179" height="68" border="0" alt="Project Fuji"></td></tr>

<tr><td><font size="2">If you know of a news article or press release that should be listed here, contact <a href="mailto:dev@fuji.dev.java.net">us</a>. Ditto if you know of a blog (or write one yourself) that should be listed.</font>

<tr><td><h1><b>Community Blogs</b></h1></td></tr>


<tr><td><font size="2">Coming Soon</font></td></tr>


</table>
 
</p>
 
<!-- content boundary -->
</div>
