/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the "License").  You may not use this file except
 * in compliance with the License.
 *
 * You can obtain a copy of the license at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * HEADER in each file and include the License file at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * If applicable add the following below this CDDL HEADER,
 * with the fields enclosed by brackets "[]" replaced with
 * your own identifying information: Portions Copyright
 * [year] [name of copyright owner]
*/

/*
 * Copyright 2008-2009 Sun Microsystems, Inc. All Rights Reserved.
*/

#toolbar {
    height:         34px;

    margin:         0px 100px 0px 100px;
    padding:        0px 0px 0px 0px;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.7em;
    color:          #fff;

    z-index:        1000000; /* one million */
}

#toolbar #buttons {
    position:       absolute;

    top:            0px;
    left:           0px;

    height:         24px;

    padding:        5px 10px 5px 10px;
}

#toolbar #buttons a.button {
    display:        inline-block;

    height:         24px;

    margin-right:   5px;
}

#toolbar #buttons img {
    border:         0px;
}

#toolbar #buttons span.checkbox {
    display:        inline-block;

    height:         24px;

    margin-top:     5px;
    margin-left:    5px;
    vertical-align: top;
}

#toolbar #buttons span.checkbox input {
    vertical-align: top;
}

#toolbar #status {
    position:       absolute;

    height:         34px;

    top:            0px;
    right:          0px;

    padding-right:  10px;
}

#toolbar #status #statusString {
    line-height:    34px;

    cursor:         default;
}

#toolbar #status #statusProgress {
    position:       absolute;
    width:          16px;
    height:         16px;
    top:            9px;
    right:          -20px;
}

.tooltip {
    color       : white;
    padding     : 5px;
    position    : absolute;
    max-width   : 400px;
}

.tooltip table td.name {
    font-weight    : bold;
    vertical-align :text-top;
}