<div>
<table cellpadding="0" cellspacing="10" border="0" width="100%" align="left" valign="top">
	<tr><td><img src="https://open-esb.dev.java.net/images/OpenEsbBanner3.gif" width="179" height="68" border="0" alt="Open ESB,GlassFishESB,Fuji"></td></tr>
        <tr>
          <td valign="top" align="left">
             
             <h2>Governance Proposal for GlassFishESB and Open ESB communities and their associated projects  - Draft</h2>
<p> The projects under these communities in general follows the governance model of GlassFish. Decisions are made in public discussion groups by <a href="http://en.wikipedia.org/wiki/Consensus_decision-making">consensus</a>. All decisions are made transparently and any member of the project may voice their concerns in the discussion. However, the governance model cannot be modified without explicit consent of Sun Microsystems, Inc, who is the project owner of these projects.
</p>

<p>Everyone is welcome to join any of the projects that are  part of the Open ESB, GlassFishESB and GlassFish community and make contributions. Open ESB  members follow the <u>code of conduct</u> and abide by the governance process. They may play one or more of the following roles in the community. In the following description, the name Open ESB is used for governance purposes but the same rules apply for GlassFishESB and any of the subprojects associated with these communities.
</p>
<h3>User</h3>
<p>All Open ESB  project members are Users. Users use the software produced by the community. They file issues, defects, and requests for enhancements and new features. They share their experiences in using the software with others in the community by publishing articles, and contributing to forums and wikis. You become a user by creating an account on java.net and joining the community. Request the <b>Observer</b> role which is the equivalent to the User role.
</p>
<h3>Contributor</h3>
<p>Contributors are Users who contribute source code or documentation changes to resolve issues, make feature enhancements, or incorporate new functionality.<i> Contributors do not have write access to the source tree.</i> 
To become a Contributor, complete and sign the <a href="sca.html">Sun Contributor Agreement</a> (SCA).  Once the SCA is registered, all Users will be notified. If your role is not approved within two working days, forward your registration note to <a href="mailto:sca@open-esb.dev.java.net">sca@open-esb.dev.java.net</a>. Request the <b>Observer</b> role which, when coupled with a signed SCA, is equivalent to the Contributor role.

</p>
<h3>Committer</h3>
<p>Committers are Developers with write access to the source tree. Committers review patches submitted by Developers. Once a patch is approved by the committers and module owners, it will be applied to the source tree by one of the Committers. Most Committers only have write privileges to the portion of the source tree that they are most familiar with.
Developers are considered for the Committer role based on the quality of their contributions to the project. The work must show an expertise in one or more of the Open ESB  modules, demonstrated through patches made to the source tree, and contributions to the forums, or wiki. Request the <b>Developer</b> role which is equivalent to Committer.
</p>
<h3>Module Owner</h3>
<p>Module Owners are Committers responsible for reviewing and maintaining the quality of a specific module. They merge patches and new code from the development branch of the source tree into the stable branch of the particular module. They are responsible for making sure that these contributions do not break the build by performing a second level review as well as an architecture review of the proposed changes.
Module owners are appointed by creating a consensus among Committers and Module Owners. Module Owners are initially appointed by Sun. Request the <b>Developer</b> role and <b>Content Developer</b> role.

</p>
<h3>Project Managers</h3>
<p>Project Managers are responsible for managing the entire Open ESB  project, helping to create policies by consensus that ensure global quality. Project Managers are responsible for creating the project branch of the source tree. Branches are created for sustaining, major enhancements, and experiments. Project Managers are also responsible for making any updates to the governance policy. All decisions are made by consensus. In cases where a consensus can not be reached, Project Managers make the final decision.
Project Managers are appointed by Sun. Request the <b>Developer</b>, <b>Content Developer</b> and <b>Project Owner</b> roles.
</p>
<p></p>
<h3>Roles and Responsibilities</h3>
<p></p>

<table class="wikitable" border="1">
<tr><td><b>Roles</b></td><td><b>java.net member</b></td><td><b>User</b></td><td><b>Contributor</b></td><td><b>Committer</b></td><td><b>Module Owner</b></td><td><b>Project Lead</b></td></tr>
<tr><td><b>Read docs</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>

<tr><td><b>Read forums</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Read bug reports</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Download binaries</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>

<tr><td><b>Browse code</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>CVS get</b></td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Post to forums</b></td><td>N</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>

<tr><td><b>File bugs</b></td><td>N</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Submit patch for code review</b></td><td>N</td><td>N</td><td>Y</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>CVS write</b></td><td>N</td><td>N</td><td>N</td><td>Y</td><td>Y</td><td>Y</td></tr>

<tr><td><b>Code review</b></td><td>N</td><td>N</td><td>N</td><td>Y</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Arch review</b></td><td>N</td><td>N</td><td>N</td><td>N</td><td>Y</td><td>Y</td></tr>
<tr><td><b>Veto change</b></td><td>N</td><td>N</td><td>N</td><td>N</td><td>Y</td><td>Y</td></tr>

<tr><td><b>Ultimate authority over a project</b></td><td>N</td><td>N</td><td>N</td><td>N</td><td>N</td><td>Y</td></tr>
<tr><td><b>CVS branch/<a class="external" href="http://en.wikipedia.org/wiki/Fork_(software)">forking</a></b></td><td>N</td><td>N</td><td>N</td><td>N</td><td>N</td><td>Y</td></tr>

<tr><td><b>Update to governance policy (by consensus)</b></td><td>N</td><td>N</td><td>N</td><td>N</td><td>N</td><td>Y</td></tr>
</table>

<p></p>

             
             <p><hr /></p>
          </td>
        </tr>

      </table>

</p>

<!-- content boundary -->
</div>
