<div>
All contributors to the Fuji project (Contributors and up) need to sign and return <a href="http://www.sun.com/software/opensource/contributor_agreement.jsp">Sun Microsystems's Contributor Agreement (SCA)</a> form. A PDF of the SCA document is available <a href="http://www.sun.com/software/opensource/sca.pdf">here</a>. Please print this form out, fill in the necessary details, and return it via any of the following three means:
<ul>
<li>
<b>Fax</b> - a completed, signed copy to: 1-626-270-4529
</li>
<li> 
<b>E-mail</b> - a scanned, completed, signed copy to <a href="mailto:oesb-extcontrib@sun.com">oesb-extcontrib@sun.com</a>.
<li>
<b>Mail</b> - a completed, signed copy to:<p>
Brice Jarvi<br>
c/o Sun Microsystems, Inc.<br>
800 E Royal Oaks Drive<br>
Monrovia, CA 91016
</li>
</ul>
</div> 
