/**
 * Applied to the main layout of the page.
 */
.Application-Reference-standard { 
  height: 5px;
  width: 5px;
  zoom: 1;
}
/**
* application top pane
*/
.Application-top {
  width: 100%;
  margin-bottom: 10px;
}
.Application-title {
  padding: 0px 0px 0px 10px;
}
.Application-title h1 {
  color: #67A7E3;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 22px;
}
.Application-title h2 {
  color: #888;
  margin: 0px;
  padding: 0px 0px 0px 4px;
  font-size: 16px;
}
.Application-links {
  padding: 2px 13px 2px 0px;
  background: #C3D9FF;
}
.Application-links .gwt-HTML{
  font-size: 12px;
}
.Application-options {
  padding: 6px 10px 0px 0px;
}
.Application-options .gwt-ListBox {
  width: 150px;
  font-size: 11px;
  color: blue;
  margin-left: 4px;
}
.Application-options td {
  font-size: 12px;
}
.Application-options .gwt-ToggleButton {
  width: 36px;
  height: 16px;
  margin: 3px 0px 0px 10px;
  padding: 0px;
}
.Application-options .gwt-ToggleButton-down,
.Application-options .gwt-ToggleButton-down-hovering {
  cursor: default;
}
.Application-options .sc-ThemeButton-standard {
  background: #d0e4f6;
}
.Application-options .sc-ThemeButton-chrome {
  background: #ccc;
}
.Application-options .sc-ThemeButton-dark {
  background: #3d3d3d;
}
/**
* Explorer settings 
*/
.Application-menu {
  width: 18em;
  text-align: left;
}

.gwt-Tree .gwt-TreeItem {
  vertical-align: top;
}

/**
 * Applied to widgets in the content area.
 */
.Application-content-decorator {
  margin-right: 8px;
}

Application-content-decorator .gwt-DecoratorPanel .middleCenter {
   height: 100%;
   width: 100%;
 }
 
.Application-content-title {
  padding: 4px 0px 3px 6px;
  text-align: left;
  background: #e3e8f3 url(../gwt/standard/images/hborder.png) repeat-x 0px -2003px;
  border-bottom: 2px solid #bbcdf3;
}

.Application-content-title .gwt-Label {
  padding-right: 20px;
  color: black;
}

.Application-content-title .gwt-TabBarItem {
  background: none;
  padding: 0px;
}

.Application-content-title  .gwt-TabBarItem .gwt-Label {
  padding-right: 20px;
  color: #888888;
}

.Application-content-title  .gwt-TabBarItem-selected .gwt-Label {
  color: black;
}

.Application-content-wrapper {
  text-align: left;
	height: 100%; 
	width: 100%;   
}

Application-detail-tab-panel .gwt-DecoratedTabPanel .gwt-TabPanelBottom { 
	height: 100%; 
	width: 100%; 
}

/**
 * Applied to specific components in Content Widgets.
 */

.cw-RedText {
  color: red;
}

/**
* xml formatting 
*/

.xml-view pre {
  border: 1px solid #888;
  background: #eeeeee;
  padding: 10px 2px;
  margin: 10px 0px;
}

.xml-view-pre {
  border: 1px solid #888;
  background: #eeeeee;
  padding: 10px 2px;
  margin: 10px 0px;
}


.xml-pi {color: #00007c; font-family: Monospaced; font-weight: bold}
.xml-tag {color: #0000e6}
.xml-attribute {color: #009900}
.xml-value {color: #ce7b00}
.xml-comment {color: #969696}


