<div>
    <table cellpadding="0" cellspacing="0" border="0" valign="top">
        <tr><td><img src="../../images/fuji-logo.jpg" width="179" height="68" border="0" alt="Project Fuji"></td></tr>
    </table>
        
    <table cellpadding="0" cellspacing="10" border="0" valign="top">
        <tr><td><h1><b>Community</b></h1></td></tr>
            
        <tr><td><h3>IRC Channel</h3></td></tr>
        <tr><td>Coming Soon</td></tr>
            
            
        <tr><td><h3>Mailing Lists</h3></td></tr>
            
        <tr><td><font size="2">A list of email aliases and their particular purpose can be found <a href="https://fuji.dev.java.net/servlets/ProjectMailingListList">here</a>.</font></td></tr>
            
        <tr><td><h3>Wiki</h3></td></tr>
        <tr><td><font size="2">
                    Start writing on any Fuji-related topic on the <a href="http://wiki.open-esb.java.net/Wiki.jsp?page=ProjectFuji">Project Fuji Wiki</a>.
        </font></td></tr>
            
        <tr><td><h3>Developers</h3></td></tr>
        <tr><td><font size="2">
                    Match your real name with your Fuji user name on the <a href="http://wiki.open-esb.java.net/Wiki.jsp?page=DeveloperList">Developer Wiki</a>.
        </font></td></tr>
            
        <tr><td><h3>Comments</h3></td></tr>
        <tr><td><font size="2">
        Read 'em or leave 'em:  <a href="http://wiki.open-esb.java.net/Wiki.jsp?page=CommunityComments">Community Comments</a>.</font></td></tr>
            
        <tr><td><h3>Forums</h3></td></tr>
        <tr><td><font size="2">Checkout Fuji forum <a href="https://fuji.dev.java.net/public/improve/forums.html">here</a>.
            
        </font></td></tr>
            
    </table>
        
        
    <!-- content boundary -->
</div>

