<div>
    <table cellpadding="0" cellspacing="0" border="0" valign="top">
        <tr><td><img src="../../images/fuji-logo.jpg" width="179" height="68" border="0" alt="Project Fuji"></td></tr>
    </table>
        
    <table cellpadding="0" width="100%" cellspacing="10" border="0" valign="top">
        <tr><td><h1><b>Forums</b></h1></td></tr>
        <tr> 
            <td> 
                <a id="nabblelink" href="http://www.nabble.com/Project-Fuji-f34455.html">Project Fuji</a>
                <script src="http://www.nabble.com/embed/f34455"></script>
            </td>
        </tr>
    </table>
</div>

