<div>
<table cellpadding="0" cellspacing="0" border="0" valign="top">
<tr><td><img src="../../images/fuji-logo.jpg" width="179" height="68" border="0" alt="Project Fuji"></td></tr>
</table>

<table cellpadding="0" cellspacing="10" border="0" valign="top">
<tr><td><h1><b>Source Code</b></h1></td></tr>

<tr><td><h3>Development Process</h3></td></tr>
<tr><td></td></tr>

<tr><td><h3>Download the Source</h3></td></tr>
<tr><td><font size="2">Download the source code using the <code>svn</code> command-line tool (or view individual files from the tree) <a href="https://fuji.dev.java.net/source/browse/fuji/">here</a>.</font></td></tr>

<tr><td><h3>Setting up NetBeans IDE</h3></td></tr>

<tr><td><h3>Coding Guidelines</h3></td></tr>

<tr><td>Coming Soon</td></tr>

<tr><td><h3>Commit Procedures</h3></td></tr>
<tr><td><font size="2">
Coming Soon

</font></td></tr>

<tr><td><h3>Documentation</h3></td></tr>
<tr><td><font size="2">Coming Soon

</font></td></tr>

<tr><td><h3>Issues (defects, enhancements, features, tasks, patches)</h3></td></tr>
<tr><td>
<font size="2">
<ul>
<li><font size="2"><a href="https://fuji.dev.java.net/servlets/ProjectIssues">Issue Tracker</a></font></li>

<li><font size="2"><a href="https://www.dev.java.net/nonav/scdocs/issuewritinghelp.html">Issue Writing Guidelines</a></font></li>
<li><font size="2"><a href="https://www.dev.java.net/nonav/scdocs/issuezilla_tipsandtricks.html">Tips and Tricks</a></font></li>
<li><font size="2"><a href="https://www.dev.java.net/nonav/scdocs/ProjectIssues.html">Issue Tracker Help</a></font></li>
</ul>
</font></td></tr>

</table>
</p>
 
<!-- content boundary -->
</div>

