/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the "License").  You may not use this file except
 * in compliance with the License.
 *
 * You can obtain a copy of the license at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * HEADER in each file and include the License file at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * If applicable add the following below this CDDL HEADER,
 * with the fields enclosed by brackets "[]" replaced with
 * your own identifying information: Portions Copyright
 * [year] [name of copyright owner]
 */

/*
 * Copyright 2008-2009 Sun Microsystems, Inc. All Rights Reserved.
 */

/* -- Palette element ----------------------------------------------------------------- */
#palette {
    top:            60px;
    left:           20px;
    
    width:          250px;
    height:         400px;
    
    min-width:      200px;
    min-height:     300px;
}

/* -- Palette window ------------------------------------------------------------------ */
.palette {
    position:       fixed;

    cursor:         default;
}

/* -- Palette header ------------------------------------------------------------------ */
.palette .palette-header {
}

.palette .palette-header .contents, .window_messages_viewer .-wsfw-header {
    margin:         1px 5px 0px 5px;

    text-align:     center;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.7em;
    color:          white;
}

/* -- Palette window contents --------------------------------------------------------- */
.palette .-wsfw-contents .section {

}

.palette .-wsfw-contents .section .header {
    position:       relative;

    margin:         0px 5px 0px 5px;
    padding:        7px 5px 0px 5px;

    border-bottom:  1px dotted #ccc;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.8em;
    color:          white;
}

.palette .-wsfw-contents .section .header .update-marker {
    position:       absolute;

    bottom:         1px;
    right:          16px;

    height:         14px;
    width:          14px;
}

.palette .section .header .collapser-expander {
    position:       absolute;

    bottom:         1px;
    right:          0px;

    height:         16px;
    width:          16px;

    cursor:         pointer;
}

.palette .section .header .expanded {
    background:     url("resource?img/ui/palette/minus.png");
}

.palette .section .header .collapsed {
    background:     url("resource?img/ui/palette/plus.png");
}

.palette .section .footer_resize {
    position        : relative;
    padding         : 1px 0px 0px 0px;
    cursor          : n-resize;
    border-bottom   : 1px dotted #cec;
    height          : 1px;
    line-height     : 1px;
    font-size       : 1px;
}

.palette .section .contents {
    position:       relative;

    max-height:     100%;
    min-height:     34px;

    overflow:       auto;

    margin:         0px 5px 0px 5px;
}

.palette .-wsfw-contents .section .contents .text {
    padding:        5px 5px 0px 5px;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.7em;
    font-style:     italic;

    color:          #ccc;
}

.palette .-wsfw-contents .section .contents .item {
    padding:        7px 5px 3px 5px;

    border-bottom:  1px dotted #666;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.7em;

    color:          #fff;
}

.palette .-wsfw-contents .section .contents .item .icon {
    width:          24px;
    height:         24px;

    margin-right:   5px;

    vertical-align: middle;
}

.palette .-wsfw-contents .section .contents .item .label {
}

/* -- Palette window footer ----------------------------------------------------------- */
.palette .-wsfw-footer .contents {
    padding:        10px 17px 5px 10px;
}

.palette .-wsfw-footer .contents .search-icon {
    vertical-align: middle;

    height:         16px;
    width:          16px;
}

.palette .-wsfw-footer .contents .search-field {
    width:          140px;

    margin-left:    5px;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.6em;
}

.palette .window-resizer {
    cursor: se-resize;
}

.window_messages_viewer .-wsfw-footer {
    height: 15px;
}

