/*
 * The contents of this file are subject to the terms
 * of the Common Development and Distribution License
 * (the "License").  You may not use this file except
 * in compliance with the License.
 *
 * You can obtain a copy of the license at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL
 * HEADER in each file and include the License file at
 * https://open-esb.dev.java.net/public/CDDLv1.0.html.
 * If applicable add the following below this CDDL HEADER,
 * with the fields enclosed by brackets "[]" replaced with
 * your own identifying information: Portions Copyright
 * [year] [name of copyright owner]
 */

/*
 * Copyright 2008-2009 Sun Microsystems, Inc. All Rights Reserved.
 */

/*-- General ---------------------------------------------------------------------------*/
* {
    margin:         0px 0px 0px 0px;
    padding:        0px 0px 0px 0px;
}

body {
    background:     url("resource?img/ui/bg-editor.png");
}

#body_content {
}

#logger {
    position:       fixed;
    top:            50px;
    right:          0px;

    width:          500px;

    overflow:       auto;

    font-family:    monospace;
}

.hidden {
    display:        none;
}

/*-- Growl notifications ---------------------------------------------------------------*/
.-ws-growl {
    position:               fixed;

    z-index:                5000000; /* five millions */

    margin:                 10px 20px 0px 20px;
    padding:                8px 10px 8px 10px;

    font-family:            Geneva, Verdana, Arial, sans-serif;
    font-size:              0.8em;
    color:                  #fff;
}


.-ws-growl-close {
    position:               absolute;
    top:                    -5px;
    right:                  -5px;
    z-index:                5000001; /* five millions and one */
    cursor:                 pointer;
}

/*-- Global progress bar ---------------------------------------------------------------*/
#global-progress-bar {
    width:              400px;
    height:             250px;
}

#global-progress-bar .progress-bar {
    width:              200px;
    height:             200px;
    margin:             0px auto 0px auto;
}

#global-progress-bar .message {
    width:              400px;
    height:             50px;

    padding-top:        10px;

    text-align:         center;

    font-family:        Arial, sans-serif;
    font-size:          1.3em;
    color:              #eeeeee;
    font-style:         italic;

}

/*-- Maximized code editor -------------------------------------------------------------*/
.-maximized-code-editor {
    font-family:        Monaco, monospace;
    font-size:          0.8em;
}

#edit_area_toggle_reg_syntax.js label {
    color:              #eeeeee;
    cursor:             default;
    font-family:        Geneva,Verdana,Arial,sans-serif;
    font-size:          0.7em;
}

/*-- Properties sheet windows ----------------------------------------------------------*/
.-ws-psheet-window {
    position:           fixed;

    width:              350px;
    min-width:          300px;

    /* Default height. It will then be adjusted as we use Ws.WindowedPropertiesSheet
       exclusively. */
    height:             200px;
}

.-ws-psheet-window .-wsfw-header {
    margin:             1px 5px 5px 5px;

    text-align:         center;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
    color:              white;

    cursor:             default;
}

.-ws-psheet-window .-wsfw-contents {
    margin:             5px 5px 5px 5px;
    overflow:           auto;
}

.-ws-psheet-window .-wsfw-footer {
    padding:            10px 5px 5px 5px;

    text-align:         right;
}

.-ws-psheet-window .-wsfw-footer input {
    width:              65px;

    margin-right:       10px;
}

.-ws-psheet-window .-wsfw-footer .validation {
    padding-bottom:     5px;
    text-align:         left;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    color:              red;
    font-weight:        bold;
}

.-ws-psheet-window .-ws-tpane-tab {
    padding:            0px 5px 5px 5px;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.8em;
    color:              #666666;
    cursor:             pointer;
}

.-ws-psheet-window .-ws-tpane-selected {
    color:              #eeeeee;
}

.-ws-psheet-window .-ws-tpane-contents {
    overflow:           auto;
}

/*-- Modal dialogs ---------------------------------------------------------------------*/
.modal-dialog {
    position:       relative;

    width:          400px;
    height:         250px;
}

.modal-dialog .-ws-tpane-tab {
    padding:            0px 5px 5px 5px;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.8em;
    color:              #fff;
    cursor:             pointer;
}

.modal-dialog .-ws-tpane-selected {
    color:              #ffe;
}

.modal-dialog .header {
    margin:         0px 5px 5px 5px;
    padding:        5px 5px 0px 5px;

    border-bottom:  1px dotted #fff;

    text-align:     left;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.9em;
    color:          #fff;
}

.modal-dialog .contents {

}

.modal-dialog .footer {
    position:       absolute;
    bottom:         0px;

    width:          390px;

    padding:        5px 5px 5px 5px;

    text-align:     right;

    font-family:    Geneva, Verdana, Arial, sans-serif;
    font-size:      0.7em;
}

.modal-dialog .footer .validation {
    padding-bottom: 5px;
    text-align:     left;
    color:          #ff3333;
}

.modal-dialog .footer input {
    width:              65px;

    margin-right:       10px;
}

/* Login dialog tuning. It should be smaller. */
#login-dialog {
    width:          250px;
    height:         150px;
}

#login-dialog .footer {
    width:          240px;
}

/* Feedback dialog tuning. The text area should be bigger. */
#feedback-dialog textarea {
    height:         140px;
}

/* Register dialog. Lots of fields, it should be slightly bigger. */
#register-dialog {
    height:         350px;
}

#open-graph-dialog select.-ws-psheet-type-enum {
    width:          285px;
}

/*-- Modal Prompts ---------------------------------------------------------------------*/
.ws-modal-prompt {
    width:                  300px;
    height:                 200px;
}

.wsmp-rr-ok {
    position:               relative;
}

.wsmp-rr-ok .ok-text {
    padding:                5px 5px 5px 5px;

    text-align:             left;
    font-family:            Geneva, Verdana, Arial, sans-serif;
    font-size:              1em;
}

.wsmp-rr-ok .ok-button {
    position:               absolute;
    left:                   50%;
    bottom:                 5px;

    width:                  100px;

    margin-left:            -50px;
}

/*-- Properties sheets -----------------------------------------------------------------*/
table.-ws-psheet {
    width:              100%;

    border:             0px solid #000000;
    border-collapse:    collapse;

    empty-cells:        show;
}

table.-ws-psheet td.-ws-psheet-label {
    width:              100px;

    padding:            2px 0px 2px 5px;
    border:             0px solid #000000;

    white-space:        nowrap;

    text-align:         left;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
    color:              #eee;

    cursor:             default;

    /*background:         blue;*/ /* This is useful for debugging layouts, thus
                                     only commented out. */
}

table.-ws-psheet td.-ws-psheet-label-one-column {
    padding-bottom:     0px;
}

table.-ws-psheet td.-ws-psheet-input {
    padding:            2px 5px 2px 5px;
    border:             0px solid #000000;

    text-align:         left;
    vertical-align:     top;

    /*background:         green;*/ /* This is useful for debugging layouts, thus
                                      only commented out. */
}

table.-ws-psheet td.-ws-psheet-input-one-column {
    padding-top:        1px;
}

div.-ws-psheet-type-string {
    border:             1px solid #ccc;
    padding:            2px 2px 2px 2px;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;

    background-color:   white;
}

input.-ws-psheet-type-string {
    width:              100%;

    margin:             0px 0px 0px 0px;
    padding:            0px 0px 0px 0px;
    border:             0px solid #ccc;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          1em;
}

div.-ws-psheet-type-string-inline-description {
    color:              #eeeeee;
    font-style:         italic;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.6em;
}

div.-ws-psheet-type-integer {
    display:            inline-block;
    
    width:              70px;
    border:             1px solid #ccc;
    padding:            2px 2px 2px 2px;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;

    background-color:   white;
}

input.-ws-psheet-type-integer {
    width:              100%;

    margin:             0px 0px 0px 0px;
    padding:            0px 0px 0px 0px;
    border:             0px solid #ccc;

    text-align:         right;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          1em;
}

div.-ws-psheet-type-integer-units {
    display:            inline-block;
    padding:            2px 2px 2px 2px;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
    color:              #eee;
}

div.-ws-psheet-type-text {
    margin-top:         -1px;
    border:             1px solid #ccc;
    padding:            2px 2px 2px 2px;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;

    background-color:   white;
}

textarea.-ws-psheet-type-text {
    width:              100%;
    height:             70px;
    margin:             0px 0px 0px 0px;
    padding:            0px 0px 0px 0px;
    border:             0px solid #ccc;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          1em;
}

div.-ws-psheet-type-text-inline-description {
    color:              #eeeeee;
    font-style:         italic;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.6em;
}

textarea.-ws-psheet-type-maximized-text {
    margin:             0px 0px 0px 0px;
    padding:            5px 5px 5px 5px;
    border:             1px solid #ccc;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.75em;
}

.-ws-psheet-type-text-menu {
    text-align:         right;

    line-height:        0.8em;
}

.-ws-psheet-type-text-menu a {
    color:              #333333;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.8em;
}

div.-ws-psheet-type-code {
    margin-top:         -1px;
    border:             1px solid #ccc;
    padding:            2px 2px 2px 2px;

    font-family:        Monaco, monospace;
    font-size:          0.7em;

    background-color:   white;
}

textarea.-ws-psheet-type-code {
    width:              100%;
    height:             70px;
    margin:             0px 0px 0px 0px;
    padding:            0px 0px 0px 0px;
    border:             0px solid #ccc;
    font-family:        Monaco, monospace;
    font-size:          1em;
}

div.-ws-psheet-type-code-inline-description {
    color:              #eeeeee;
    font-style:         italic;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.6em;
}

textarea.-ws-psheet-type-maximized-code {
    margin:             0px 0px 0px 0px;
    padding:            5px 5px 5px 5px;
    border:             1px solid #ccc;
    font-family:        Monaco, monospace;
    font-size:          0.75em;
}

.-ws-psheet-type-code-menu {
    text-align:         right;

    line-height:        0.8em;
}

.-ws-psheet-type-code-menu a {
    color:              #333333;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.8em;
}

select.-ws-psheet-type-enum {
    min-width:          100px;

    border:             1px solid #ccc;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
}

input.-ws-psheet-type-boolean {
    vertical-align:     middle;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
}

div.-ws-psheet-type-password {
    border:             1px solid #ccc;
    padding:            2px 2px 2px 2px;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;

    background-color:   white;
}

input.-ws-psheet-type-password {
    width:              100%;

    margin:             0px 0px 0px 0px;
    padding:            0px 0px 0px 0px;
    border:             0px solid #ccc;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          1em;
}

div.-ws-psheet-type-label {
    padding:            5px 5px 5px 5px;

    text-align:         left;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
    color:              #eee;
}

div.-ws-psheet-type-button {
    padding:            5px 5px 5px 5px;

    text-align:         center;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
}

input.-ws-psheet-type-button {
    min-width:          130px;
}

.-ws-psheet-type-table-properties {
    width:              100%;

    border           : 1px solid #ccc;
    padding          : 2px 2px 2px 2px;

    font-family      : Geneva, Verdana, Arial, sans-serif;
    font-size        : 0.8em;
    color            : black;
    background-color : white;
    border-collapse  : separate;
}

.-ws-psheet-type-table-properties {
    width           : 100%;
    border          : 0px solid #000;
    border-collapse : separate;
}

.-ws-psheet-type-table-properties thead td {
    padding-left : 17px;
    border-top   : 0px solid #000;
    color        : black;
    text-align   : center
}


.-ws-psheet-type-table-properties tr {
    /* No styles */
}

.-ws-psheet-type-table-properties tr td {
    border-top:         1px dotted #ccc;
    border-bottom:      1px dotted #ccc;
    padding:            1px 1px 1px 1px;

    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.9em;
    color:              black;
}

.-ws-psheet-type-table-properties tr td div.layout {
    position:           relative;
    padding:            0px;
}

.-ws-psheet-type-table-properties tr td div.layout div {
    position:           absolute;

    top : 0px;

    height:             16px;
    width:              16px;

    text-align:         center;
    cursor:             pointer;
    display:            table-row;
}


.-ws-psheet-type-table-properties tr td div.layout div.button-properties {
    background-image:   url(resource?img/ui/tester/properties_16.png);
}

.-ws-psheet-type-table-properties tr td div.layout div.button-delete {
    background-image:   url(resource?img/ui/tester/delete_16.png);
}

.-ws-psheet-type-table-properties tr td div.layout div.button-run_test {
    background-image:   url(resource?img/ui/tester/run_16.png);
}

.-ws-psheet-type-table-properties tr td div.layout div.button-up {
    background-image:   url(resource?img/ui/tester/move_up_16.png);
}

.-ws-psheet-type-table-properties tr td div.layout div.button-down {
    background-image:   url(resource?img/ui/tester/move_down_16.png);
}

div.-ws-psheet-window img, div.window_messages_viewer img {
    position : absolute;
    top      : 1px;
    z-index  : 5000001
}

div.-ws-psheet-window img.windowed-button-close,
div.window_messages_viewer img.windowed-button-close {
    right    : 5px;
}

div.-ws-psheet-window img.windowed-button-max,
div.window_messages_viewer img.windowed-button-max {
    right    : 18px;
}

div.-ws-psheet-window img.windowed-button-min,
div.window_messages_viewer img.windowed-button-min {
    right    : 31px;
}

div.-ws-psheet-type-string-read-only {
    padding:            3px 0px 0px 0px;

    color:              #eeeeee;
    font-family:        Geneva, Verdana, Arial, sans-serif;
    font-size:          0.7em;
}

div.-ws-psheet-window .-ws-psheet-type-table-properties img,
div.window_messages_viewer div.messages_table img{
    position       : static;
    vertical-align : bottom;
}

div.messages_table {
    height : 100%;
    width  : 100%;
    background-color:white;
}

div.messages_table table {
    width            : 100%;
    border           : 1px solid #ccc;
    padding          : 2px 2px 2px 2px;

    font-family      : Geneva, Verdana, Arial, sans-serif;
    font-size        : 0.7em;
    color            : black;
    background-color : white;
    border-collapse  : separate;
}

div.messages_table tr {
    border:             1px dotted #ccc;
    padding:            1px 1px 1px 1px;
}

div.messages_table tr.A {
    background-color:silver;
}


div.messages_table tr.B {
    background-color:white;
}

div.messages_table tr.selected {
    color: white;
    background-color:#6666CC;
}

div.messages_table td {
    padding : 1px 1px 1px 1px;
}

textarea.messages_viewer {
    border : 0px;
    width  : 100%;
    height : 100%;
}

div.window_messages_viewer {
    width  :  600px;
    height :  400px;
}

.palette .section .header .view_type {
    position:       absolute;

    bottom:         1px;
    right:          16px;

    height:         16px;
    width:          16px;

    cursor:         pointer;
}

.palette .section .header .treeView {
    background:     url(resource?img/ui/messagesViewer/treeView.png);
}


table.treeTable {
    overflow        : scroll;
    width           : 100%;
    border-collapse : collapse;
    font-size       : 0.9em;
    color:white;
}

table.treeTable tbody tr {
    border-collapse : collapse;
    vertical-align : middle;
}

table.treeTable tbody tr td {
    border-collapse : collapse;
    vertical-align :middle;
    border:  0px dotted white;
    text-align :center;
    padding: 0px;
}

table.treeTable tbody tr td.tree {
    text-align:             left;
    vertical-align:         middle;

    font-family:            Geneva, Verdana, Arial, sans-serif;
    font-size:              0.9em;
    color:                  #eeeeee;
}


table.treeTable tbody span {
    background-position : center;
    background-repeat   : no-repeat;
    padding             : 5px 9px;
    height              : 0px;
    width               : 0px;
}

table.treeTable tbody span.expander {
    padding             : 0px 9px;
}

table.treeTable tr td.tree span.expand {
    background-image: url(resource?img/ui/treeTable/minus_l.png);
}

table.treeTable tr td.tree span.collapse {
    background-image: url(resource?img/ui/treeTable/plus_l.png);
}

table.treeTable tr td.tree span.leaf {
    background-image: url(resource?img/ui/treeTable/leaf.gif);
}

table.treeTable tr.isRoot td.tree span.expand {
    background-image: url(resource?img/ui/treeTable/minus.png);
}

table.treeTable tr.isRoot td.tree span.collapse {
    background-image: url(resource?img/ui/treeTable/plus.png);
}

table.treeTable tr.isRoot td.tree span.leaf {
    background-image: url(resource?img/ui/treeTable/leaf_r.gif);
}

table.treeTable tr td.tree span.Line {
    background-image    : url(resource?img/ui/treeTable/i.gif);
}

table.treeTable tr td.tree span.T {
    background-image    : url(resource?img/ui/treeTable/t.gif);
}

table.treeTable tr td.tree span.Last {
    background-image    : url(resource?img/ui/treeTable/l.gif);
}

table.treeTable tr td.tree span.node-type-xml_1 {
    background-image    : url(resource?img/ui/messagesViewer/element_16.png);
}

table.treeTable tr td.tree span.node-type-xml_4 {
    background-image    : url(resource?img/ui/messagesViewer/cdata_section_16.png);
}

table.treeTable tr td.tree span.node-type-xml_2 {
    background-image    : url(resource?img/ui/messagesViewer/attribute_16.png);
}

table.treeTable tr td.tree span.node-type-xml_3 {
    background-image    : url(resource?img/ui/messagesViewer/text_section_16.png);
}

table.treeTable tr td.tree span.attribute {
    padding : 0px;
    color   : #CC7700;
}
table.treeTable tr td.tree span.tag {
    padding : 0px;
    color   : yellow;
}
table.treeTable tr td.tree span.attribute_name {
    padding : 0px;
    color   : #007700;
}

