table {
    table-layout:fixed;
    max-width: 800px;
    border-width: 1px 1px 1px 1px;
    border-spacing: 3px;
    border-style: double double double double;
    border-color: black black black black;
    border-collapse: separate;
    background-color: #F8F4ED;
    margin-left: 10%;
    margin-right: 10%;
	
}

table caption {
    color: #007433;
    text-align: left;
}

table tr {
}

pre {
    white-space: normal;
    font: normal;
    color: black;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    background-color: #E0D3B7;
}

h1 {
    face-family: Arial;
    font-style: italic;
    font-weight: bold;
    color: #916200;
    font-size: x-large;
    
}

h2 {
    face-family: Arial;
    font-style: normal;
    font-weight: bold;
    color: #916200;
    font-size: large;
    text-align: center;   
}

hr {
    white-space: normal;
    font: normal;
    color: #F8F4ED;
    background-color: #F8F4ED;
    border: 0;
    width: 80%;
}
