 <div><table cellpadding="0" cellspacing="10" border="0" align="left" valign="top">
  <col WIDTH=100%>
	<tr><td><img src="../../../images/fuji-log.jpg" width="179" height="68" border="0" alt="Project Fuji"></td></tr>
	<tr><td><h2>Build Instructions</h2></td></tr>
	<tr><td><font size="2">

 <tr><td><font size="2">
Requirements and dependencies for building the source code are detailed <a href="http://wiki.open-esb.java.net/Wiki.jsp?page=FujiGettingStarted">here</a></font></td></tr>

</table>
</p>

<!-- content boundary -->
</div>
